.container {
  text-align: center;
  margin-top: 50px;
}
body{
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTR6MWw1YTRwaWp1dWIzYTI2NWczcjZweDN4NXBkYzR3ZjRhanlpZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif)
  /* background-size: cover;
  background-repeat: no-repeat; */
}
h1 {
  font-family: Matura MT Script Capitals;
  color: whitesmoke;
}

label {
  font-family: Copperplate Gothic Light;
  color: whitesmoke;
  font-size: 18px;
}

input {
  margin-top: 30px;
  text-align: center;
  width: 400px;
  padding: 8px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 60px;
  font-size: 20px;
}

#main {
  justify-content: space-evenly;
  margin: 0%;
  padding: 0%;
  display: flex;
}

#st, #nd, #rd {
  cursor: pointer;
  font-family: Calisto MT;
  color: aliceblue;
  background-color: #242424;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform .2s;
  width: 400px;
}

#st {
  height: 150px;
}

#nd {
  height: 150px;
}

#rd {
  height: 260px;
  padding-top: 5px;
}

#st:hover, #nd:hover, #rd:hover {
  transform: scale(1.5);
  border: 1.5px solid white;
}

#child {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 110px;
  font-size: large;
  padding-top: 10px;
  width: 100%;
  height: 70px;
  text-align: center;
  color: aliceblue;
  background-color: #242424;
}

#a {
  color: #007bff;
}

#div {
  height: 600px;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  input {
    width: 90%;
    margin-bottom:10px;
  }
  
  #main {
    flex-direction: column;
    align-items: center;
  }
  
  #st, #nd, #rd {
    width: 90%;
    margin-bottom: 20px;
    transform: none; /* Remove scaling effect on mobile */
  }
  
  #st:hover, #nd:hover, #rd:hover {
    transform: none;
    border: 2px solid whitesmoke;
  }
  #div{
    margin-bottom: 350px;
  }
}